<div id="paper" class="page">
	<div class="menu">
		<ul>
			<li><a href="/page/index/name/about">О нас</a></li>
			<li><a href="/page/index/name/rules">Правила</a></li>
			<li><a href="/page/index/name/partners">Партнеры</a></li>
			<li><a href="/page/index/name/board">Жюри</a></li>
			<li><a href="/page/index/name/prize">Приз</a></li>
		</ul>
	</div>
	<h2><?= $this->page->title ?></h2>
	<div id="content"><?= $this->page->body ?></div>
</div>
