<div id="promo">
	<? $i=1; foreach($this->top4 as $girl): ?>
	<a id="photo<?= $i ?>" href="/gallery"><img src="<?= $girl->image->variant('title')?>" alt=""></a>
	<? $i++; endforeach ?>
	<div id="bubble">
		<?= $this->blocks['bubble'] ?>
	</div>
</div>
<div id="paperback">
	<div class="news general">
	<? for ($i=0;$i<=1;$i++): ?>
		<div class="item it<?= $i ?>">
			<h3><?= $this->posts[$i]->title ?></h3>
			<span class="date"><?= $this->posts[$i]->date('d MMMM') ?></span>
			<span class="c-count"><a href="/post/get/id/<?= $this->posts[$i]->id ?>#disqus_thread" data-disqus-identifier="ladygrace_post_<?= $this->posts[$i]->id ?>"></a>комментариев: </span>
			<p><?= $this->posts[$i]->intro() ?></p>
			<a class="more" href="/post/get/id/<?= $this->posts[$i]->id ?>">Подробнее</a>
		</div>
	<? endfor ?>
	</div>
	<div class="news right">
	<? for ($i=2;$i<=3;$i++): ?>
		<div class="item it<?= $i ?>">
			<h3><?= $this->posts[$i]->title ?></h3>
			<span class="date"><?= $this->posts[$i]->date('d MMMM') ?></span>
			<span class="c-count"><a href="/post/get/id/<?= $this->posts[$i]->id ?>#disqus_thread" data-disqus-identifier="ladygrace_post_<?= $this->posts[$i]->id ?>"></a>комментариев: </span>
			<p><?= $this->posts[$i]->intro() ?></p>
			<a class="more" href="/post/get/id/<?= $this->posts[$i]->id ?>">Подробнее</a>
		</div>
	<? endfor ?>
	</div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ladygrace'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<div id="top5" class="gallery">
	<? $i = 0 ?>
	<? foreach($this->top5 as $item): ?>
		<? $dir = $i % 2 ? 1 : -1; ?>
		<? $rotation = 4*$dir; ?>
		<?= $this->partial('gallery/_item.phtml',array('item'=>$item,'rotation'=>$rotation)) ?>		
		<? $i++ ?>
	<? endforeach ?>
</div>
