*{margin:0;padding:0}
body{background:url(img/body.jpg) top center;font-size:14px;font-family:Arial,sans-serif}
p{margin-bottom:1em}
fieldset{border:0}
pre{overflow:auto}

/*header*/
#header{background:url(img/header.png) no-repeat;height:780px}
#home{width:500px;height:200px;position:absolute;top:0;left:100px}
#auth{position:absolute;top:30px;right:110px}
#auth *,#auth{color:#fff}

/*nav*/
#nav{position:absolute;top:15px;right:0;width:443px;height:395px;background:url(img/nav.png) 0 25px no-repeat;color:#fff}
#nav ul{margin:47px 0 0 40px}
#nav li{list-style:none;line-height:2.16em}
#nav a{color:#fff;text-decoration:none;text-shadow:0 -1px 0 #B21E45}

/*middle*/
#middle{margin-top:-550px}
#promo{margin-left:80px;width:764px;height:370px;position:relative;z-index:5}
#promo a{position:absolute}
#promo #photo1{top:50px;left:0px;-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg)}
#promo #photo2{top:70px;left:140px;-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg)}
#promo #photo3{top:60px;left:280px;-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg)}
#promo #photo4{top:80px;left:410px;-webkit-transform:rotate(15deg);-moz-transform:rotate(15deg)}
#paperback{padding-top:155px;background:url(img/paperback.png) no-repeat;width:851px;height:760px;margin:-180px 0 0px 55px;position:relative;z-index:0}
#paper-wrapper{width:690px;padding:0 10px 0 13px;background:url(img/paperback-middle.png) repeat-y;position:relative;margin:40px 0 30px 80px}
#paper-shadow-top{height:3px;width:672px;background:url(img/paper-shadow-top.png) no-repeat;position:absolute;top:-3px;left:12px}
#paper-shadow-bottom{height:19px;width:672px;background:url(img/paper-shadow-bottom.png) no-repeat;position:absolute;bottom:-19px;left:0px}
.label{position:absolute}
.label.about{width:125px;height:99px;background:url(img/label-about.png) no-repeat;top:20px;left:-45px}
#paper{width:557px;background:url(img/paper.jpg);padding:20px 50px 50px 50px;min-height:600px}
#paper p, #paper label{font-style:italic;line-height:1.5em;font-size:90%}
#paper.page img{width:232px;height:352px;padding:5px 5px 10px 5px;background:url(img/paper-img-bg.gif) no-repeat;float:left;margin:0 1em 1em 0}
#paper.post .date{margin:1em;font-size:90%;font-style:italic}
#paper.post{padding-top:10em}
#content li{margin:0 0 1em 2em}
#content p{clear:both}
#paper h2{letter-spacing:-1px;margin-bottom:.5em}
#paper .menu,#paperback h2,#paper h1{font-family:"Century Gothic",Futura,"URW Gothic L",Arial,sans-serif;text-transform:lowercase;font-size:140%;margin:0 0 2em 100px}
#paperback h2,#paper h1{font-weight:normal;margin-top:-100px;margin-left:150px}
#paper h1{margin-left:10px}
#paper .menu li{list-style:none;text-decoration:underline;color:#2294af}
#paper .menu a{color:#000}
#paper h3{color:#bbb;margin:0 0 .4em 0;font-size:180%}
div.photos{border:4px dashed #ccc;padding:14px;margin-bottom:2em}
.photo{float:left;margin:0 11px 10px 0;padding:1px;height:113px;width:113px;background-repeat:no-repeat;background-position:center center;position:relative;z-index:20;border:2px solid #ccc}
.photo.loading{background-image:url(img/ajax-loader.gif)}
#content img{float:left; margin:1em}
#paper .video{float:left;width:320px;height:240px;text-align:center;margin:0 0 1em 0}
#paper .video img{margin-top:70px;border:0px}
#paper form{clear:both}
#submenu{float:right}
#top5{background:url(img/top5.png) no-repeat;width:150px;top:1040px;position:absolute;left:830px;padding-top:135px}

/*gallery*/
.label{position:absolute;width:131px;height:102px;top:20px;left:-14px;background-repeat:no-repeat}
#gallery-label{background-image:url(img/label-gallery.png)}
#paper-rotated{padding:45px 0 0 110px;background:url(img/paperback.png) no-repeat;width:851px;height:870px;margin:30px 0 0 55px;position:relative;z-index:0}
.gallery .item{float:left;margin:0 10px 2px 0;position:relative}
.gallery .item .name{position:absolute;bottom:18px;left:12px;width:120px;text-align:center;color:#27B6DE;font-style:italic}
#paper-rotated .row{clear:both}
#row1{margin-left:-15px}
#row2{margin-left:-30px}
#row3{margin-left:-45px}
#row4{margin-left:-55px}
#next-label,#prev-label{position:absolute;text-decoration:none;text-indent:-9999px;display:block}
#next-label{bottom:-4px;right:251px;width:132px;height:100px;background:url(img/label-next.png) no-repeat}
.posts #next-label{right:141px;background:url(img/label-next.png) no-repeat}
#big {width:580px;height:600px;overflow:hidden;float:left}
#big img{display:none}
#showcase{background:#666666;border:2px solid #B2B6B7;height:600px;width:900px}
#side{background:#999;width:253px;float:right;margin:5px;padding:20px;color:#fff;overflow:auto;height:550px}
#info{font-style:italic;font-size:90%;margin-bottom:1em}
#side h2{margin-bottom:.5em}
#thumbs{clear:both}
#thumbs h3{font-size:90%;margin:1em 0 .5em 0}
#thumbs .thumb{float:left;width:75px;height:75px;border:2px solid #fff;margin:0 5px 5px 0;background-position:center top}
#thumbs .thumb,.vote{cursor:pointer}
#votes{float:right;width:40%}
#votes .vote{float:left;width:36px;height:36px;text-indent:-9999px;margin-top:1em}
#votes .up{background:url(img/vote-up.gif) no-repeat;margin-right:20px}
#votes .down{background:url(img/vote-down.gif) no-repeat}
#fancybox-right,#fancybox-left{z-index:10}
div#rating,#thumbs h3{position:relative;z-index:30}
div#rating{width:23%;text-align:center}
div#rating span{font-size:150%;font-weight:bold;padding:.5em;background:#ccc;display:block}

#banner1,#banner2{position:absolute;padding-left:9px;top:400px;left:775px;width:214px;height:356px;background:url(img/banner.png) no-repeat}
#index #banner1{top:680px}
#banner2{top:780px}
#bubble{width:412px;height:428px;position:absolute;top:55px;right:-243px;z-index:30}
#news-label{background-image:url(img/label-news.png)}
#paper-rotated.posts{padding-left:10px}
.news{float:left;position:relative;z-index:10}
.news.general{width:370px;position:relative;z-index:10}
.news.right{width:300px;padding-top:20px;margin-left:0px}
.news h3{font-size:140%;letter-spacing:-1px}
.news .item{font-size:80%;color:#1e1e1e}
.news .item *{margin-top:.3em}
.news .item img{background:url(img/news.item.gif) no-repeat;padding:5px 5px 15px 5px}
.news .item.video img{background:none}
.news .item p{font-style:italic}
.news .it0{margin-left:60px}
.news .it1{margin:3em 0 0 45px}
.news .it1 p{margin-right:20px}
.news .it3 p{margin-right:30px}
.news.right h3{font-size:180%}
.news h3,.news .date,.news .c-count{margin-left:50px}
.news .item .c-count{position:relative;background:url(img/c-count.gif) 0 3px no-repeat;padding:5px 5px 10px;width:181px;display:block;font-weight:bold;color:#fff}
.news .item .c-count a{color:#fff;width:15px;position:absolute;top:2px;left:93px;display:block;overflow:hidden;height:15px}
.news img{margin-left:45px;display:block}
.news p{margin-left:35px}
.news .more{margin-left:25px;line-height:2em;color:#889294}
.news.right .it3{margin:5em 0 0 -10px}
.news.right .it3 img{margin-left:45px}

/*the mess*/
#mess{position:relative}
#soc-links{background:url(img/soc-sites-title-right.png) no-repeat;padding:60px 0px 10px 0px;width:137px;margin-top:0px;float:right;text-align:center}
#soc-links img{margin-bottom:1em}
#index #soc-links{position:absolute;top:340px;left:0px;background:url(img/soc-sites-title.png) no-repeat}
#facebook-app{background:url(img/facebook-bg.png) no-repeat;padding: 70px 30px 60px 10px;width:260px;height:220px;position:absolute;top:0px;left:0px;overflow:hidden}
#the5{background:url(/img/5.png) no-repeat;width:500px;height:268px;position:absolute;top:10px;left:290px}

#paper input{font-size:200%;padding:.2em;width:90%}
#paper label{display:block;margin-top:1em;padding-left:2px}
label .required{font-size:130%;color:red}
#paper label small{color:#a0a0a0;font-size:100%}
#paper button{margin-top:1em;font-size:150%}
#paper textarea{width:90%}

/*admin*/
.admin{font-size:90%;color:#a3a3a3;width:100%}
.admin td{border-bottom:1px dotted #a3a3a3;padding:.5em 0 .5em 25px;background-repeat:no-repeat;background-position:0 5px}
.admin td.page{background-image:url(img/document.png)}
.admin td.block{background-image:url(img/document-sub.png)}
.admin .rating{font-weight:bold;color:green;text-align:center}
.admin .heading{font-weight:bold;text-align:center}
.star{width:16px;height:16px;display:block;margin:0 auto;cursor:pointer}
.star.gold{background-image:url(img/crown.png)}
.star{background-image:url(img/crown-silver.png)}
.rich{height:400px}
table#girls td{padding-left:0}
table#girls .name-photo{text-align:center}
table#girls .name-photo img{display:block;margin:0 auto}

/*links with icons*/
a.button{padding:0 0 4px 20px;background-repeat:no-repeat;background-position:0 0;line-height:2em}
a.button.edit{background-image:url(img/pencil.png)}
a.button.photos{background-image:url(img/pictures.png)}
a.button.videos{background-image:url(img/clapperboard.png)}
a.button.personal{background-image:url(img/user-nude-female.png)}
a.button.posts{background-image:url(img/newspapers.png)}
a.button.pages{background-image:url(img/document-tree.png)}
a.button.new-post{background-image:url(img/newspaper--plus.png)}
a.button.delete{background-image:url(img/cross.png)}

/*footer*/
#footer{width:590px;margin-right:auto;margin-left:auto;background:url(img/footer.png) center no-repeat;height:87px;clear:both;margin-top:300px;padding: 35px 10px 10px;overflow:hidden}
#index #footer{margin-top:660px}

/*flash messages*/
.error,.notice,.ok{padding:10px;margin:0 0 1em 0;border-style:solid;border-width:0px}
.error{background:#FFCFCF;color:red;border-color:red}
.notice{background:#FFF1AF;color:#BFA52F;border-color:#DFC137}
.notice a{color:#BFA52F}
.ok{background:#C2FFBF;border-color:green}
.ok,.ok a{color:green}
.ok a,.notice a{font-weight:bold;text-decoration:underline}
.error .data,.error .repopulate,.notice .data,.notice .repopulate{display:none}
