<div id="nav">
	<ul>
		<li><a href="/page/index/name/about">О нас</a></li>
		<li><a href="/gallery">Галерея участниц</a></li>
		<li><a href="/page/index/name/reports">Отчеты о конкурсах</a></li>
		<li><a href="/post/">Новости</a></li>
		<?if($this->user):?>
			<? if ($this->user->status == 'editor'): ?>
				<li>Редакирование <a href="/admin/posts">новостей</a> | <a href="/admin/pages">страниц</a></li>
			<? elseif ($this->user->status == 'admin'): ?>
				<li><a href="/admin">Администрирование</a></li>
			<? else: ?>
				<li><a href="/user/personal">Личный кабинет</a></li>
			<? endif ?>
				<li><a href="/user/logout">Выйти</a></li>
		<?else:?>
			<li><a href="/user/register">Регистрация</a></li>
			<li><a href="/user/login">Вход для участниц</a></li>
		<?endif?>
	</ul>
</div>
