<?php if ($this->pageCount>1): ?>
		<?php if (isset($this->previous)): ?>
	<a id="prev-label" href="<?= $this->url(array('page' => $this->previous)); ?>"></a>
		<?php endif; ?>
		<?php if (isset($this->next)): ?>
	<a id="next-label" href="<?= $this->url(array('page' => $this->next)); ?>">&nbsp;</a>
		<?php endif; ?>
<?php endif; ?>
