<div id="showcase">
	<div id="big">
		<? $photos = $this->girl->photos ?>
		<? foreach($photos as $photo): ?>
		<img<? if($photo==$photos[0]): ?> style="display:inline"<? endif ?> id="big<?= $photo->id ?>" src="<?= $photo->variant('big') ?>" alt="">
		<? endforeach ?>
	</div>
	<div id="side">
		<h2><?= $this->girlUser->firstName ?> <?= $this->girlUser->lastName ?></h2>
		<div id="info"></div>
		<? if (!$this->voted): ?>
		<div id="votes">
			Голосовать:
			<a class="vote up" rel="<?= $this->girl->id ?>">1</a>
			<a class="vote down" rel="<?= $this->girl->id ?>">-1</a>
		</div>
		<? endif ?>
		<div id="rating">Рейтинг: <span><?= $this->girl->rating ?></span></div>
		<div id="thumbs">
			<h3>Фотографии</h3>
			<? foreach($photos as $photo): ?>
			<a class="thumb" href="<?= $photo->variant('big') ?>" style="background-image:url(<?= $photo->variant('thumb') ?>)" id="th<?= $photo->id ?>">
			</a>
			<? endforeach ?>
		</div>
	</div>
</div>
