<?= $this->doctype() ?>
<html>
	<head>
		<?if (isset($this->title)) $this->headTitle()->prepend($this->title)?>
		<?if (isset($this->page->title)) $this->headTitle()->prepend($this->page->title)?>
		<?if (isset($this->post->title)) $this->headTitle()->prepend($this->post->title)?>
		<?= $this->headTitle() ?>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
		<?= $this->headLink() ?>
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
		<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox-1.3.4.css" media="all">
		<?= $this->headStyle() ?>
	</head>
	<body id="<?if (isset($this->bodyId)):?><?=$this->bodyId?><?else:?>general<?endif?>">
		<div id="header">
			<a href="/" id="home" title="На главную"></a>
			<?if($this->authorizedUser):?>
			<div id="auth">
				Привет, <?=$this->authorizedUser->firstName?> <small>(<?=$this->authorizedUser->email?>)</small>
			</div>
			<?endif?>
		</div>
		<div id="middle">
			<?=$this->layout()->content?>
			<div id="banner1">
				<?= $this->blocks['banner1'] ?>
			</div>
			<?if ($this->bodyId!=='index'):?>
			<div id="banner2">
				<?= $this->blocks['banner2'] ?>
			</div>
			<?endif?>
			<div id="mess">
				<div id="facebook-app">
					<?= $this->blocks['social'] ?>
				</div>
				<div id="the5">
				</div>
				<div id="soc-links">
					<a href="/"><img src="/css/img/vkontakte.png" alt="alt"></a>
					<a href="/"><img src="/css/img/twitter.png" alt="alt"></a>
					<a href="/"><img src="/css/img/facebook.png" alt="alt"></a>
				</div>
			</div>
		</div>
		<div id="footer">
			<?= $this->blocks['footer'] ?>
		</div>
		<?= $this->partial('_nav.phtml',array('user'=>$this->authorizedUser)) ?>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="/js/fancybox/jquery.easing-1.3.pack.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<?= $this->headScript() ?>
	</body>
</html>
