<h3><?= $this->user->firstName ?>! Поздравляем, ваша анкета одобрена для участия в конкурсе!</h3>

<p>
Данные для входа на сайт:<br>
----------------------------------------------<br>
логин: <?= $this->user->email ?><br><br>
пароль: <?= $this->password ?><br>
----------------------------------------------<br>
</p>
<p>
Адрес: <a href="<?= $this->host ?>/user/login"><?= $this->host ?>/user/login</a>
</p>
