<h3>Для вас сгенерирован новый пароль</h3>

<p>
Новый пароль:<br>
----------------------------------------------<br>
<?= $this->password ?><br>
----------------------------------------------<br>
</p>
<p>
Адрес для авторизации: <a href="<?= $this->host ?>/user/login"><?= $this->host ?>/user/login</a>
</p>
