<h3>На сайте конкурса красоты зарегистрировалась участница!</h3>
	<?foreach ($this->photos as $photo):?>
		<div style="float:left;margin:1em">
			<a title="<?=$photo->description?>" href="<?=$this->host.$photo->variant('big')?>"><img src="<?=$this->host.$photo->variant('thumb')?>" alt="Фото №<?=$photo->id?>"></a>
		</div>
	<?endforeach?>
<table style="clear:both" cellpadding="10" cellspacing="0">
	<tr><td>Имя:</td><td><strong><?= $this->applicantUser->firstName?> <?= $this->applicantUser->lastName ?></strong></td></tr>
	<tr><td>Дата рождения: </td><td><strong><?= $this->applicant->birthDate?></strong></td></tr>
</table>
<h2><a style="color:green" href="<?= $this->host ?>/user/approve/id/<?= $this->applicant->id?>">Принять</a> | <a style="color:red" href="<?= $this->host ?>/user/deny/id/<?= $this->applicant->id?>">Отклонить</a></h2>
