<div id="paper">
	<h2><?=$this->title?></h2>
	<? if (!empty($this->messages)): ?><? foreach ($this->messages as $message): ?><?= $message ?><? endforeach ?><? endif ?>
  	<div class="error">У вас недостаточно прав. Возможно вам следует <a href="/user/login">авторизоваться</a></div>
	<?php if (isset($this->exception)): ?>
	<p>
		<b>Сообщение:</b> <?php echo $this->exception->getMessage() ?>
	</p>
  	<h3>Стек:</h3>
  	<pre><?php echo $this->exception->getTraceAsString() ?>
  	</pre>
	<h3>Параметры запроса:</h3>
	<pre><?php echo var_export($this->request->getParams(), true) ?>
  	</pre>
  	<?php endif ?>
</div>
