<div id="paper">
	<h2><?=$this->title?></h2>
	<? if (!empty($this->messages)): ?><? foreach ($this->messages as $message): ?><?= $message ?><? endforeach ?><? endif ?>
	<form id="login-user" action="/user/login" method="post">
		<fieldset>
			<label for="login_email">Email/Логин</label>
			<input type="text" id="login_email" name="login_email" value="">
			<label for="password">Пароль (<a href="/user/new-password">забыли?</a>)</label>
			<input type="password" id="password" name="password" value="">
			<button type="submit" id="send">Авторизоваться</button>
		</fieldset>
	</form>
</div>
