<div id="paper">
	<h2><?=$this->title?></h2>
	<? if (!empty($this->messages)): ?><? foreach ($this->messages as $message): ?><?= $message ?><? endforeach ?><? endif ?>
	<form id="newPassword" action="/user/new-password" method="post">
		<fieldset>
			<label for="email">Email</label>
			<input type="text" id="email" name="email" value="">
			<button type="submit" id="send">Получить новый пароль</button>
		</fieldset>
	</form>
</div>
