<div id="paper">
	<div id="submenu">
			<? if ($this->adminMode): ?>
			<a class="button photos" href="/admin/photos/userid/<?= $this->user->id ?>">Фотографии</a> | <a class="button videos" href="/admin/videos/userid/<?= $this->user->id ?>">Видео</a>
			<? else: ?>
			<a href="/user/photos">Фотографии</a> | <a href="/user/videos">Видео</a>
			<? endif ?>
	</div>
	<h2><?=$this->title?></h2>
	<div id="identity">
		<div class="name"><?=$this->user->firstName?> <?=$this->user->lastName?></div>
		<div class="email"><?=$this->user->email?></div>
		<div class="number">#<?=$this->user->id?></div>
		<div class="rating">рейтинг: <?=$this->girlData->rating?></div>
		<div class="votes">проголосовало: <?=$this->girlData->votes?></div>
	</div>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<form id="personal" action="/user/update<? if (isset($this->back)): ?>?returnUrl=<?= $this->back ?><? endif ?>" method="post">
		<fieldset>
			<input type="hidden" id="required" value="<?= $this->escape($this->required) ?>">
			<input type="hidden" id="userId" name="id" value="<?= $this->user->id?>">
			<? if ($this->adminMode): ?>
			<label for="rating">Рейтинг</label>
			<input type="text" id="rating" name="rating" value="<?= $this->girlData->rating ?>">
			<? endif ?>
			<label for="firstName">Имя</label>
			<input type="text" id="firstName" name="firstName" value="<?= $this->user->firstName ?>">
			<label for="lastName">Фамилия</label>
			<input type="text" id="lastName" name="lastName" value="<?= $this->user->lastName ?>">
			<label for="birthDate">Дата рождения <small>(гггг-мм-дд)</small></label>
			<input type="text" id="birthDate" name="birthDate" value="<?=$this->girlData->birthDate?>">
			<label for="phone">Телефон <small>(например: +7 000 000-0000)</small></label>
			<input type="text" id="phone" name="phone" value="<?=$this->girlData->phone?>">
			<label for="height">Рост <small>(например: 174)</small></label>
			<input type="text" id="height" name="height" value="<?=$this->girlData->height?>">
			<label for="weight">Вес <small>(например: 65)</small></label>
			<input type="text" id="weight" name="weight" value="<?=$this->girlData->weight?>">
			<label for="measures">Параметры <small>(например: 90-60-90)</small></label>
			<input type="text" id="measures" name="measures" value="<?=$this->girlData->measures?>">
			<label for="hair">Волосы</label>
			<input type="text" id="hair" name="hair" value="<?=$this->girlData->hair?>">
			<label for="city">Город</label>
			<input type="text" id="city" name="city" value="<?=$this->girlData->city?>">
			<label for="privateInfo">Приватная информация <small>(видна только жюри)</small></label>
			<textarea id="privateInfo" name="privateInfo" rows="10" cols="30"><?=$this->girlData->privateInfo?></textarea>
			<button type="submit">Готово!</button>
		</fieldset>
	</form>
</div>
