<div id="paper">
	<div id="submenu">
		<? if ($this->adminMode): ?>
		<a class="button personal" href="/admin/personal/userid/<?= $this->user->id ?>">Личные данные участницы</a> | <a class="button videos" href="/admin/videos/userid/<?= $this->user->id ?>">Видео</a>
		<? else: ?>
		<a href="/user/personal">Личные данные</a> | <a href="/user/videos">Видео</a>
		<? endif ?>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<h3>Публичные</h3>
	<div id="public" class="photos">
		<?= $this->partialLoop()->setObjectKey('photo')->partialLoop('user/_thumb.phtml',$this->girl->photos) ?>
		<form enctype="multipart/form-data" class="upload" action="/photos/add<? if (isset($this->adminMode)): ?>/userid/<?= $this->user->id ?><? endif ?>?format=xml" method="post">
			<fieldset>
				<label>Загрузить фото</label>
				<input type="file" class="file" name="file">
			</fieldset>
		</form>
	</div>
	<h3>Только для жюри</h3>
	<div id="private" class="photos">
		<?= $this->partialLoop()->setObjectKey('photo')->partialLoop('user/_thumb.phtml',$this->girl->privatePhotos) ?>
		<form enctype="multipart/form-data" class="upload" action="/photos/add<? if (isset($this->adminMode)): ?>/userid/<?= $this->user->id ?><? endif ?>?format=xml" method="post">
			<fieldset>
				<label>Загрузить фото</label>
				<input type="file" class="file" name="file">
				<input type="hidden" name="status" value="2">
			</fieldset>
		</form>
	</div>
</div>
