<div id="paper">
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<form id="register-user" action="/user/register" method="post" enctype="multipart/form-data">
		<fieldset>
			<input type="hidden" id="required" value="<?= $this->escape($this->required) ?>">
			<label for="email">E-mail</label>
			<input  type="text" id="email" name="email" value="">
			<label for="lastName">Фамилия</label>
			<input type="text" id="lastName" name="lastName" value="">
			<label for="firstName">Имя</label>
			<input type="text" id="firstName" name="firstName" value="">
			<label for="birthDate">Дата рождения <small>(гггг-мм-дд)</small></label>
			<input type="text" id="birthDate" name="birthDate">
			<!--<label for="phone">Телефон <small>(например: 89091234567)</small></label>
			<input type="text" id="phone" name="phone">
			<label for="height">Рост <small>(например: 174)</small></label>
			<input type="text" id="height" name="height">
			<label for="weight">Вес <small>(например: 65)</small></label>
			<input type="text" id="weight" name="weight">
			<label for="measures">Параметры <small>(например: 90-60-90)</small></label>
			<input type="text" id="measures" name="measures">
			<label for="hair">Волосы</label>
			<input type="text" id="hair" name="hair">
			<label for="city">Город</label>
			<input type="text" id="city" name="city">-->
			<label for="photo1">Фото №1 <small>(не более 5 Мб)</small></label>
			<input type="file" name="photo1" id="photo1">
			<label for="photo2">Фото №2</label>
			<input type="file" name="photo2" id="photo2">
			<label for="photo3">Фото №3</label>
			<input type="file" name="photo3" id="photo3">
			<label for="photo4">Фото №4</label>
			<input type="file" name="photo4" id="photo4">
			<label for="photo5">Фото №5</label>
			<input type="file" name="photo5" id="photo5">
			<button type="submit">Готово!</button>
		</fieldset>
	</form>
</div>
