<div id="paper">
	<div id="submenu">
		<? if ($this->adminMode): ?>
		<a class="button personal" href="/admin/personal/userid/<?= $this->user->id ?>">Личные данные участницы</a> | <a class="button photos" href="/admin/photos/userid/<?= $this->user->id ?>">Фотографии</a>
		<? else: ?>
		<a href="/user/personal">Личные данные</a> | <a href="/user/photos">Фотографии</a>
		<? endif ?>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<?foreach ($this->videos as $video):?>
	<a id="video<?= $video->id ?>" class="video" title="<?=$video->description?>" style="background-image:url(<?= $video->getThumb() ?>)" href="<?= $video->getUrl() ?>">
		<img src="/js/play_large.png" alt="">
	</a>
	<?endforeach?>
	<form enctype="multipart/form-data" id="uploadVideo" action="/video/add<? if (isset($this->adminMode)): ?>/userid/<?= $this->user->id ?><? endif ?>" method="post">
		<fieldset>
			<label for="file">Выберите файл <small>(avi, не более <?= $this->maxUpload ?> Мб)</small></label>
			<input type="file" id="file" name="file">
			<label for="description">Описание</label>
			<input type="text" name="description" id="description">
			<button>Загрузить</button>
		</fieldset>
	</form>
</div>
