<div id="paper" class="post">
	<h1><?= $this->title ?></h1>
	<h2><?= $this->post->title ?></h2>
	<div class="date"><?= $this->post->date('d MMMM YYYY') ?></div>
	<div id="content"><?= $this->post->body ?></div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'ladygrace'; // required: replace example with your forum shortname

	// The following are highly recommended additional parameters. Remove the slashes in front to use.
		var disqus_identifier = 'ladygrace_post_<?= $this->post->id ?>';
		var disqus_url = '<?= $this->config->webhost ?>/post/get/id/<?= $this->post->id ?>';

	/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
	 		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	 		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	 		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	 	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
