<div id="paper">
	<div id="submenu">
		<a class="button posts" href="/admin/posts">Список новостей</a>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<form id="postCreate" action="/admin/create-post" method="post">
		<fieldset>
			<input type="hidden" id="required" value="<?= $this->escape($this->required) ?>">
			<label for="title">Заголовок</label>
			<input type="text" id="title" name="title" value="">
			<label for="body">Текст</label>
			<textarea id="body" class="rich" name="body" rows="10" cols="30"></textarea>
			<button type="submit">Готово!</button>
		</fieldset>
	</form>
</div>
