<div id="paper">
	<div id="submenu">
		<a class="button posts" href="/admin/posts/">Новости</a> | <a class="button pages" href="/admin/pages/">Страницы</a>
	</div>
	<h2><?=$this->title?></h2>
	<a href="?sort=selected">Избранные</a> | 
	<a href="?sort=regDate">Новые</a> | 
	<a href="?sort=name">По имени</a> | 
	<a href="?sort=lastName">По фамилии</a> 
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<table id="girls" class="admin">
		<tbody>
			<tr class="heading">
				<td>Имя/Фото</td>
				<td>Параметры</td>
				<td>Дата регистрации</td>
				<td>VIP</td>
				<td>Рейтинг</td>
				<td>Действия</td>
			</tr>
			<? foreach($this->girls as $girl): ?>
			<tr id="girl<?= $girl->userId ?>">
				<td class="name-photo">
					<img src="<?= $girl->image->variant('portrait')?>" alt="">
					<?= $girl->name ?> <?= $girl->lastName ?>
				</td>
				<td>
					Возраст: <?= $girl->age() ?><br>
					Рост: <?= $girl->height ?><br>
					Вес: <?= $girl->weight ?><br>
					Размеры: <?= $girl->measures ?>
				</td>
				<td><?= $girl->regDate?></td>
				<td>
					<span class="star<? if ($girl->selected): ?> gold<? endif ?>"></span>
				</td>
				<td class="rating">
					<?= $girl->rating?>
				</td>
				<td>
					<a class="button edit" href="/admin/personal/userid/<?= $girl->userId ?>">редактировать</a>
					<a class="button delete" href="/user/deny/id/<?= $girl->userId ?>?returnUrl=/admin">удалить</a>
				</td>
			</tr>
			<? endforeach ?>
		</tbody>
	</table>
</div> 
