<div id="paper">
	<div id="submenu">
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<table id="posts-admin" class="admin" cellpadding="0" cellspacing="0"><tbody>
	<? foreach ($this->pages as $page): ?>
		<tr>
			<td class="<?= $page->type ?>"><a href="/admin/update-page/id/<?= $page->slug ?>"><?= $page->title ?></a></td>
		</tr>
	<? endforeach ?>
	</tbody></table>
</div>
