<div id="paper">
	<div id="submenu">
		<a class="button new-post" href="/admin/create-post">Создать новость</a>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<table id="posts-admin" class="admin" cellpadding="0" cellspacing="0"><tbody>
	<? foreach ($this->posts as $post): ?>
		<tr>
			<td><a href="/admin/update-post/id/<?= $post->id ?>"><?= $post->title ?></a></td>
			<td><?= $post->createdAt ?></td>
			<td>
				<a class="button delete" href="/admin/delete-post/id/<?= $post->id?>">удалить</a>
			</td>
		</tr>
	<? endforeach ?>
	</tbody></table>
</div>
