<div id="paper">
	<div id="submenu">
		<a class="button posts" href="/admin/posts">Список новостей</a> | <a class="button new-post" href="/admin/create-post">Создать новость</a>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<form id="updatePost" action="/admin/update-post" method="post">
		<fieldset>
			<input type="hidden" id="required" value="<?= $this->escape($this->required) ?>">
			<input type="hidden" id="postId" name="id" value="<?= $this->post->id?>">
			<label for="title">Заголовок</label>
			<input type="text" id="title" name="title" value="<?=$this->post->title?>">
			<label for="body">Текст</label>
			<textarea id="body" class="rich" name="body" rows="10" cols="30"><?=$this->post->body?></textarea>
			<button type="submit">Готово!</button>
		</fieldset>
	</form>
</div>
