<div id="paper">
	<div id="submenu">
		<a class="button pages" href="/admin/pages">Список страниц</a>
	</div>
	<h2><?=$this->title?></h2>
	<?if (!empty($this->messages)):?><?foreach ($this->messages as $message):?><?=$message?><?endforeach?><?endif?>
	<form id="updatePage" action="/admin/update-page" method="post">
		<fieldset>
			<input type="hidden" id="required" value="<?= $this->escape($this->required) ?>">
			<input type="hidden" id="slug" name="slug" value="<?= $this->page->slug?>">
			<label for="title">Заголовок</label>
			<input type="text" id="title" name="title" value="<?=$this->page->title?>">
			<label for="body">Текст</label>
			<textarea id="body" class="rich" name="body" rows="10" cols="30"><?=$this->page->body?></textarea>
			<button type="submit">Готово!</button>
		</fieldset>
	</form>
</div>
