<div class="item" style="-webkit-transform:rotate(<?=$this->rotation?>deg);-moz-transform:rotate(<?=$this->rotation?>deg)">
	<a rel="girls" href="/girl/index/id/<?= $this->item->userId ?>" title="<?=$this->item->name?> <?= $this->item->lastName ?>">
		<img src="<?=$this->item->image->variant('portrait')?>" alt="<?=$this->item->name?>">
	</a>
	<span class="name"><?=$this->item->name?></span>
</div>
