<div id="paper-rotated" class="gallery">
	<div id="gallery-label" class="label"></div>
<? for($row=0;$row<=4;$row++): ?>
	<div id="row<?=$row?>" class="row">
		<? for($i=$row*4; $i<=$row*4+3; $i++): ?>
		<? if(isset($this->items[$i])): ?>
		<? $item = $this->items[$i];
		   $dir = ($i+$row) % 2 ? 1 : -1;
		   $rotation = 4*$dir;
		?>
		<?= $this->partial('gallery/_item.phtml',array(
			'item'=>$item,
			'rotation'=>$rotation
			)) ?>		
		<? endif ?>
		<? endfor ?>
	</div>
<? endfor ?>
<?= $this->paginator ?>
</div>
